
.o_kanban_attachment {
    .oe_kanban_previewer {
        cursor: zoom-in;
    }

    .o_kanban_image {
        .o_kanban_image_wrapper {
            background-color: #e9ecef;
            border-right: 1px solid #ced4da;
        }
    }
}
